/* import File Master.css */
@import url("master.css");
/* Start Override master.css */
.main-page .content {
    margin-top: 131px;
    padding: 0 15px;
}

/* End Override master.css */
/* Start Component */
.title {
    font-family: 'DM Sans', sans-serif;
    color: #150b3d;
    font-weight: 700;
    font-size: 14px;
}
/* End Component */
/* Start Head */
.main-page .logo {
    width: 85px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.main-page .head {
    position: absolute;
    top: 70px;
    width: 95%;
    background-color: #F3F2F2;
    padding: 10px;
    text-align: center;
    padding-top: 50px;
    color: #0D0140;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.main-page .head .details-co {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.main-page .head .details-co::after,
.main-page .head .details-co::before {
    content: "";
    width: 7px;
    height: 7px;
    background: #0D0140;
    position: absolute;
    border-radius: 50%;
}

.main-page .head .details-co::after {
    left: 120px;
}

.main-page .head .details-co::before {
    right: 136px;
}

.main-page .head .details-co span {
    font-weight: 400;
}
/* End Head */

/* Start Tabs Buttons */
.content .tabs-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.content .tabs-btn button:first-child {
    color: white;
    background-color: var(--main-background);
    border: none;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

.content .tabs-btn button:last-child {
    color: #130160;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: #FFB6B680;
}
/* End Tabs Buttons */

/* Start Tab Description */
.tab-desc {
    display: block;
}

.tab-desc span,
.tab-desc ul li {
    font-family: Source Sans Pro, sans-serif;
    font-size: 12px;
    color: #524B6B;
    line-height: 1.5;
    display: block;
}

.tab-desc ul {
    margin-bottom: 30px;
}

.tab-desc ul li {
    position: relative;
    margin-bottom: 15px;
    margin-left: 5px;
}

.tab-desc ul li::after {
    content: "";
    background-color: #524B6B;
    width: 4px;
    height: 4px;
    position: absolute;
    left: -10px;
    top: 7px;
    border-radius: 50%;
}

.tab-desc .read-more {
    background: #ffb6b63b;
    color: #0D0140;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    margin: 30px 0;
}

.tab-desc .location-span {
    margin-bottom: 20px;
}

.tab-desc .info {
    color: #150B3D;
}

.tab-desc .info h3 {
    font-family: 'DM Sans', sans-serif;
}

.tab-desc .info p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.tab-desc .info hr {
    border: 0.5px solid #DEE1E7;
    margin: 20px 0;
}

.tab-desc ul:last-of-type {
    margin-top: 20px;
}

.apply-btn {
    width: 90%;
    display: block;
    margin: 0 auto;
    background: var(--main-background);
    border: none;
    color: white;
    padding: 13px 0;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 7px;
}
/* End Tab Description  */
/* Start Tab Company  */
.tab-company {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    display: none;
}

.tab-company span{
    line-height: 1.5;
    color: #524B6B;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
}

.tab-company a{
    text-decoration: underline;
}

.tab-company .images-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 0px 10px;
}

.tab-company .images-group div img { 
    max-width: 100%;
    border-radius: 10px;
}

.tab-company .images-group .one {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.tab-company .images-group .overlay {
    position: relative;
}

.tab-company .images-group .overlay::after {
    content: "";
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0c3648ad;
    border-radius: 10px;
}

.tab-company .images-group .overlay span{
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    z-index: 1;
    font-size: 11px;
    transform: translate(-50%, -50%);
}
/* End Tab Company  */
/* Start Tab Apply */
.tab-apply {
    display: none;
}

.tab-apply form {
    margin-bottom: 20px;
}

.tab-apply form .upload-cv span {
    display: block;
    color: #524B6B;
    margin: 20px 0;
    font-size: 14px;
}

.tab-apply form .upload-cv input[type=file] {
    border: 1px dashed #9D97B5;
    padding: 42px;
    cursor: pointer;
    border-radius: 10px;
}

.tab-apply form .upload-cv .upload-box{
    position: relative;
}

.tab-apply form .upload-cv .upload-box img{
    position: absolute;
    top: 37%;
    left: 8px;
}

.tab-apply form .info textarea {
    width: 96%;
    border-color: #9D97B5;
    padding: 10px;
}

.tab-apply form .info textarea::placeholder {
    font-size: 14px;
    color: #AAA6B9;
    opacity: 0.8;
}
/* End Tab Apply */