/* import File Master.css */
@import url("master.css");
/*  */
.content h1 {
    text-align: center;
}

.content p {
    color: #524B6B;
    font-size: 14px;
    text-align: center;
    line-height: 1.7;
    margin-top: 0;
}

.content img {
    width: 150px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.content form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.content form label {
    color: #150B3D;
    font-weight: 700;
}

.content form input[type=email] {
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 18px 15px;
}

.content form input[type=email]::placeholder {
    font-size: 14px;
    color: #0D014099;
}

.content form input[type=submit] {
    font-family: "Source Code Pro", monospace;
    background-color: var(--secondary-background);
    color: white;
    border: none;
    padding: 14px 0;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0;
    text-transform: uppercase;
}

.content a {
    text-align: center;
    background-color: #FFB6B680;
    color: white;
    padding: 15px 0;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    text-transform: uppercase;
}
