/* Start Global Rules */
body {
    direction: rtl;
}
/* End Global Rules */
/* Start Index.html */
.index .form form .password i {
    left: 15px;
    right: auto;
}
/* End Index.html */
/* Start signup.html */
.sign-up .box-container,
.portfolio-builder  .box-container {
    padding-right: 35px;
}

.sign-up .checkmark,
.portfolio-builder .checkmark {
    right: 0;
    left: auto;
}

.sign-up .form form .radio-box div:nth-of-type(3) label {
    margin-right: 0;
}

.sign-up .row-2 .social{
    column-gap: 10px;
}
/* End signup.html */
/* Start Page Home.html */
.home .row-2 img{
    left: 0;
    right: auto;
}

.home .row-4 .box .row-1 div {
margin-right: 10px;
}
/* End Page Home.html */

/* Start Page details.html */
.details .tab-desc ul li::after {
    right: -10px;
    left: auto;
}

.details .tab-desc ul li {
    margin-right: 15px;
    margin-left: auto;
}

.main-page .head .details-co::before{
    right: 102px;
}
/* End Page details.html */

/* Start Page jobs.html */
.jobs .search {
    position: relative;
    padding-top: 70px;
} 

.jobs .search i.arrow {
    position: absolute;
    left: 25px;
    top: 20px;
}

.jobs .keywords .keyword span:first-of-type {
    margin-right: 10px;
}

.jobs .keywords {
    direction: ltr;
}
/* End Page jobs.html */

/* Start Page specialization.html */
.specialization header {
    position: relative;
}

.specialization .header {
    margin-top: 50px;
}

.specialization header .arrow,
.specialization .header .arrow {
    position: absolute;
    left: 0;
    top: 15px;
}

.specialization .header .arrow {
    left: 33px;
    top: 30px;
}

.specialization .custom-select img{
    left: 10px;
    right: auto;
}

.specialization .wrapper,
.filter .wrapper {
    direction: ltr;
}

.specialization .wrapper p.title,
.filter .wrapper p.title,
.specialization .row-1,
.filter .row-1 {
    direction: rtl;
}  
/* End Page specialization.html */
/* Start Page filter.html */
.filter header {
    position: relative;
}

.filter header .arrow {
    position: absolute;
    top: 0;
    left: 0;
}

.filter form .radio-content .box-container {
    padding-right: 35px;
}

.filter form .radio-content .box-container .checkmark {
    right: 0;
    left: auto;
}

.filter form .checkbox-content .box-container {
    padding-right: 25px;

}

.filter form .checkbox-content .box-container .checkmark {
    right: 0;
    left: auto;
}


/* End Page filter.html */

/* Start Page save-job.html */
.save-jobs .list i {
    margin-left: 10px;
}
/* End Page save-job.html */
/* Start specialization.html */
.specialization header form h2 {
    padding-right: 0;
    padding-left: 127px;
}

.specialization header form h2 {
    padding-right: 0;
    padding-left: 127px;
}

.specialization header form input[type=search] {
    padding: 13px 35px 13px 0;

}

.specialization header form i {
    right: 13px;
}

.specialization .add-post i.fa-arrow-left {
    text-align: left;
}

.specialization .add-post form input[type=text]:first-of-type {
    padding: 15px 15px 15px 0;
}

.specialization .add-post form textarea, 
.specialization #content6 form textarea {
    padding: 15px 15px 15px 0;
}

.specialization  .fa-image,
.specialization  .fa-camera {
    color: var(--main-background);
}

.specialization  .fa-camera {
    flex: 1;
}
 
.specialization .add-job .fa-xmark,
.specialization .edit-job .fa-xmark {
    display: block;
    text-align: left;
}

.specialization .close-btn {
    display: block;
    text-align: left;
}

.specialization #content1 form input[type=search], 
.specialization #content3 form input[type=search] {
    padding: 10px 30px 10px 0;
}

.specialization #content1 form i.fa-xmark,
.specialization #content3 form i.fa-xmark {
    left: 10px;
    right: auto;
}

.specialization #content1 form i.fa-magnifying-glass, 
.specialization #content3 form i.fa-magnifying-glass {
    right: 11px;
    left: auto;
}

.specialization #content2, 
.specialization #content5 {
    direction: ltr;
}

.specialization #content4 form i.fa-xmark {
    right: auto;
    left: 11px;
}

.specialization #content4 form input[type=search] {
    padding: 10px 30px 10px 0;
}

.specialization #content4 form i.fa-magnifying-glass {
    right: 11px;
    left: auto;
}
/* End specialization.html */ 