/* Start Global Rules */
body {
    direction: rtl;
}
/* End Global Rules */
/* Start Index.html */
.index .form form .password i {
    left: 15px;
    right: auto;
}
/* End Index.html */
/* Start signup.html */
.sign-up .box-container,
.portfolio-builder  .box-container {
    padding-right: 35px;
}

.sign-up .checkmark,
.portfolio-builder .checkmark {
    right: 0;
    left: auto;
}

.sign-up .form form .radio-box div:nth-of-type(3) label {
    margin-right: 0;
}

.sign-up .row-2 .social{
    column-gap: 10px;
}
/* End signup.html */
/* Start Page Home.html */
.home .row-2 img{
    left: 0;
    right: auto;
}

.home .row-4 .box .row-1 div {
    margin-right: 10px;
}
/* End Page Home.html */

/* Start Page details.html */
.details .tab-desc ul li::after {
    right: -10px;
    left: 0;
}

.details .tab-desc ul li {
    margin-left: 5px;
}
/* End Page Home.html */
