/* Start Global Rules */
body {
    direction: rtl;
}
/* End Global Rules */
/* Start Index.html */
.index .form form .password i {
    left: 15px;
    right: auto;
}
/* End Index.html */
/* Start signup.html */
.sign-up .box-container,
.portfolio-builder  .box-container {
    padding-right: 35px;
}

.sign-up .checkmark,
.portfolio-builder .checkmark {
    right: 0;
    left: auto;
}

.sign-up .form form .radio-box div:nth-of-type(3) label {
    margin-right: 0;
}

.sign-up .row-2 .social{
    column-gap: 10px;
}
/* End signup.html */