/* import File Master.css */
@import url("master.css");
/* Start logo */
.main-page .content .logo {
    width: 150px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/* End Logo */
/*  */
.form {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form h3 {
    font-family: "Aref Ruqaa Ink", sans-serif;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input[type=text],
.form form input[type=email] {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #737373;
    margin-bottom: 10px;
}

.form form input[type=text]::placeholder,
.form form input[type=email]::placeholder {
    font-size: 14px;
}

.form form .radio-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.form form .radio-box p {
    color: #737373;
    margin: 15px 0;
}

.form form .radio-box div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form form .radio-box div:nth-of-type(2),
.form form .radio-box div:nth-of-type(3) {
    margin-bottom: 20px;
}

.form form .radio-box div:nth-of-type(3) label {
    margin-right: 3px;
}
.form form .radio-box div span {
    margin-top: -2px;
    font-size: 15px;
}
/* Create a custom radio button */
.box-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

.box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #737373;
}

.box-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.box-container input:checked ~ .checkmark:after {
    display: block;
}

.box-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-background);
}

.form form input[type=submit] {
    text-align: center;
    margin: 0 auto 20px;
    padding: 15px 55px;
    background-color: var(--main-background);
    border: 1px solid var(--main-background);
    border-radius: 0px 15px 0px 15px;
    color: white;
    font-size: 18px;
    width: 100%;
}

.form p.sign-up {
    color: var(--main-background);
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.form a:not(.sign-up) {
    font-size: 15px;
    color: #737373;
    font-weight: 700;
    margin-bottom: 15px;
}

.form p:nth-of-type(2) {
    margin-top: 0;
}

.form .sign-up  {
    font-size: 15px;
    font-weight: 700;
    color: #737373;
}

.row-2 p {
    color: #737373;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.row-2 .social {
    display: flex;
    justify-content: center;
}

.row-2 .social i {
    font-size: 20px;
    border: 1px solid var(--main-background);
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2 .social i:nth-of-type(1) {
    margin-right: 10px;
}

/*  */