/* import File Master.css */
@import url("master.css");

.content h1 {
    text-align: center;
    font-size: 30px;
    color: #0D0140;
}

.content p {
    color: #524B6B;
    font-size: 14px;
    text-align: center;
    line-height: 1.7;
    margin-top: 0;
}

.content img {
    width: 150px;
    max-width: 100%;
    display: block;
    margin: 30px auto 100px;
}

.content a {
    font-family: "Source Code Pro", monospace;
    color: white;
    padding: 15px 0;
    border-radius: 6px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.content .continue {
    background-color: var(--main-background);
}

.content .back-login {  
    background-color: #FFB6B680;
}
